body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

#box{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    border: 2px solid black;
    overflow: hidden;
}

.ele{
    border: 0px solid rgb(255, 255, 255);
    flex : 0 0 auto;
    box-sizing: border-box;
    background-color: white;
}

.title{
    font-size: 60px;
    letter-spacing: 5px;
    color: rgb(255, 18, 18);
    -webkit-text-stroke: 1px black;
}

.main{
    display: flex;
    gap : 30px;
}

.buttons{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 480px;
    gap: 30px;
}

button{
    background-color: rgb(12, 11, 11);
    color: white;
    padding: 10px;
    border: 1px solid white;
    
}

button:hover{
    background-color: rgb(43, 43, 43);
}

